@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way <br />
    Redmond, WA 98052-7329 <br />
    USA<br />
    Tel: (425) 882-8080<br />
    Fax: (425) 706-7329<br />
    <a href="http://www.microsoft.com">http://www.microsoft.com</a><br />
</address>

<address>
    <strong>Support:</strong>   <a href="http://support.microsoft.com">support.microsoft.com</a><br />
    
</address>